body {
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;

    background-color: #849d8f;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-wrapper {
    background-color: #849d8f;
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
    background-image: url("img/slider-item3.png");
}


.main-navigation {
    position: relative;
    display: flex;
    align-items: center;
    width: 1146px;
    padding: 9px 0 0 0;
}

.main-header-logo {
    width: 155px;
    height: 65px;
    margin-right: 10px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 675px;
}

.site-navigation,
.sub-catalog,
.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation > li > a {
    display: block;
    padding: 7px 12px;

    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.site-nav-link::before {
    content: "";
    position: absolute;
    top: 25px;
    left: ;
    width: calc(100% - 24px);
    height: 1px;
    background-color: rgb(255, 255, 255, 0.2);
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
    color: #323232;
    background-color: #f7f6f3;
}

.site-navigation > li > a:active {
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
}

.site-navigation > li {
    position: relative;
    padding-bottom: 7px;

}

.sub-catalog {
    display: none;
    position: absolute;
    top: 38px;
    left: -8px;
    z-index: 10;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

}

.sub-catalog a {
    display: block;
    padding: 10px 21px;
    color: black;

    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.sub-catalog a:hover,
.sub-catalog a:focus {
    background-color: #fbded8;
}

.sub-catalog a:active {
    background-color: #f6b5a5;
}

.site-nav-catalog:hover .sub-catalog {
    display: block;

}

.sub-catalog li:first-child a {
    font-weight: bold;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-catalog-current {
    background-color: #d07058;
}

.sub-catalog .sub-catalog-current:hover,
.sub-catalog .sub-catalog-current:focus {
    background-color: #d07058;
}

.new-products::after {
    content: "";
    width: 128px;
    height: 1px;
    position: absolute;
    top: 38px;
    left: 6px;
    right: 9px;
    background-color: rgb(0, 0, 0, 0.2);

}

.sub-catalog li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-navigation {
    display: flex;
    justify-content: flex-end;
    width: 265px;
    margin-left: auto;
}

.user-navigation > li {
    position: relative;
    padding-bottom: 7px;
}

.user-navigation > li > a {
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: #9db1a5;
    border-radius: 15px;
}

.user-navigation .search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.modal {
    background-color: #f8f7f4;
    position: absolute;
    border-radius: 5px;
}


.modal-search {
    display: none;
    position: absolute;
    width: 311px;
    height: 44px;
    z-index: 10;
    top: 37px;
    right: 0;
    padding: 20px 15px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-form input {
    font-family: inherit;
    font-size: 14px;
    color: #999999;
    line-height: 24px;
    width: 311px;
    height: 44px;
    box-sizing: border-box;
    padding: 9px 10px 9px 10px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}


.user-nav-search:hover .modal-search {
    display: block;
}

.user-navigation .login-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 62px;
    padding: 7px 16px 6px 15px;
    margin-left: 10px
}


.modal-login {
    display: none;
    position: absolute;
    top: 36px;
    right: 0px;
    z-index: 10;
    width: 241px;
    height: 174px;
    padding: 20px 16px 20px 18px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-form {
    display: flex;
    flex-wrap: wrap;
}

.login-form input {
    font-family: inherit;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 241px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-form-button {
    padding: 10px 25px;
    margin-right: 18px;

}

.modal-login p {
    margin: 0;
    width: 119px;
}

.restore,
.newcheck-in {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #323232;
    border-bottom: 1px solid #323232;
}

.user-nav-login:hover .modal-login {
    display: block;
}

.user-navigation .cart {
    display: flex;
    min-width: 69px;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px 6px 16px;
    margin-left: 10px;

}

.user-navigation > li > a:hover,
.user-navigation > li > a:focus {
    color: #000000;
    background-color: #f4f1ee;
}

.search:hover path,
.search:focus path,
.login-link:hover path,
.login-link:focus path,
.index-page .cart:hover path,
.index-page .cart:focus path {
    fill: #000000;
}

.cart:hover circle,
.cart:focus circle {
    fill: #000000;
}

.modal-cart {
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 10;
    width: 510px;
    padding: 20px 15px;
    text-align: right;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-nav-cart:hover .modal-cart {
    display: block;
}

.modal-cart .cart-item {
    display: flex;
    position: relative;
    align-items: center;

    margin-bottom: 20px;
}

.delete-item {
    position: absolute;

    width: 11px;
    height: 12px;
    background-image: url("../img/cross-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    background-color: #f8f7f4;
}

.cart-item img {
    margin-left: 24px;
    margin-right: 13px;
}

.cart-item a {
    width: 216px;
    margin-right: 30px;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #323232;

}

.cart-item .weight {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #323232;
    margin-right: 3px;
}

.cart-item .sum {
    color: #999999;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    margin-right: 28px;
}

.cart-item .total-sum {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #323232;
}


.modal-cart .cart-sum {
    color: #323232;
    font-size: 15px;
    line-height: 18px;
    margin: 35px 0 15px;
    padding: 0;
    text-align: right;
}

.cart-sum::before {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 115px;
    height: 1px;
    background-color: #cacac7;
}

.modal-cart .button {
    padding: 12px 14px;
    display: inline-block;
}

.modal-feedback {
    display: none;
    position: fixed;
    margin-top: -220px;
    top: 50%;
    margin-left: -239px;
    left: 50%;
    z-index: 10;
    padding: 15px 25px 25px 25px;
    width: 428px;
}

.feedback-header {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 20px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 18px;
    height: 18px;
    background-image: url(../img/cross-big.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    background-color: #f8f7f4;
}

.feedback-form {
    display: flex;
    flex-wrap: wrap;
}

.modal-feedback .feedback-form input {
    font-family: inherit;
    box-sizing: border-box;
    padding: 12px 15px 8px;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 267px;
    outline: none;
}

.modal-feedback .feedback-form textarea {
    box-sizing: border-box;
    width: 428px;
    height: 155px;
    resize: none;
    padding: 12px 15px;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    border: none;
    box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    margin-bottom: 25px;
    outline: none;
}

.modal-feedback .feedback-form input:hover,
.modal-feedback .feedback-form textarea:hover {
    box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.modal-feedback .feedback-form input:focus,
.modal-feedback .feedback-form textarea:focus {
    box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}



.feedback-button {
    padding: 10px 24px;
    margin-left: auto;
}

.container {
    position: relative;
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;

}


.slider {
    position: relative;
    padding-top: 245px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}



.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-list h2 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.slider-list .slider-button {
    display: inline-block;
    font-size: 32px;
    line-height: 44px;
    padding: 13px 42px 13px 41px;
    border-radius: 50px;

}

.slider-controls label {
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 0;
    background: transparent;
}

.slider-controls {
    position: absolute;
    left: 0;
    top: 400px;

}

.slide {
    display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url(../img/slide1.png);
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url(../img/slide2.png);
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/slide3.png);
}

.raspberry-offer,
.chocolate-offer {
    width: 520px;
    padding: 20px 20px 22px;
    border-radius: 15px;
}

.raspberry-offer {
    background-image: url(../img/raspberry-bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.chocolate-offer {
    background-image: url(../img/chocolate-bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.raspberry-offer h2,
.chocolate-offer h2 {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 15px;
}

.raspberry-offer p,
.chocolate-offer p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
}

.raspberry-offer a,
.chocolate-offer a {
    display: inline-block;
    padding: 12px 22px 11px;
    float: right;
}

.hit-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px
}

.hit-list-item {
    position: relative;
    text-align: center;

    width: 267px;
    margin-right: 25px;
}

.hit-list-item .hit::before {
    content: "";
    background-image: url(../img/hit.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;

    width: 61px;
    height: 61px;
}

.hit-list-item:nth-child(4n) {
    margin-right: 0;
}

.hit-list-item h3 {
    color: #ffffff;
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.2) 50%);
    background-position: 0 bottom;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    margin: 0 5px;
}

.hit-list-item h3:hover,
.hit-list-item h3:focus {
    color: #ffbc9e;
    background-image: linear-gradient(transparent 50%, rgb(255, 188, 158, 0.3) 50%);
}


.hit-list-image img {
    border-radius: 50%;
}

.hit-list-item p {
    margin: 0;
    margin-bottom: 13px;
}

.hit-list-item b {
    font-size: 45px;
    line-height: 45px;
}


.hit-list-item span {
    font-size: 30px;
    line-height: 45px;
}

.hit-list-item .catalog-item-price {
    position: absolute;
    top: 209px;
    left: 0;
}

.hit-list-item .preview-button {
    display: none;
    position: absolute;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 17px;
    bottom: -55px;
    left: 30px;
    z-index: 2;
}

.hit-list-item:hover .preview-button {
    display: block;
}

.hit-list-item:hover::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -12px;
    z-index: 1;
    width: 293px;
    height: 405px;
    background: rgb(248, 247, 244, 0.2);
    border-radius: 5px;

}

.features {
    background-image: url(../img/waffles-bg.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-bottom: 40px;

    padding: 26px 0 3px;
    color: #323232;
}


.features h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0 20px 23px;
}


.features-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list li {
    position: relative;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

.features-item-left {
    width: 476px;
    padding-left: 75px
}

.features-item-right {
    width: 470px;
    padding-left: 90px
}

.features-item1::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-image: url("../img/ice-cream.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item2::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-image: url("../img/cow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item3::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-image: url("../img/eco.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.features-item4::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-image: url("../img/thermometer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;

}

.blog-news {
    color: #000000;
    background-image: url("../img/article-bg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 520px;
    padding: 26px 20px;
    border-radius: 15px;
    color: #323232;
}

.blog-news p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.blog-news h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 46px;

}

.blog-news-heading {
    display: inline;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    text-decoration: none;
    background-image: linear-gradient(#323232, #323232);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: 0 25px;

}

.blog-news-heading:hover,
.blog-news-heading:focus,
.blog-news-heading:active {
    color: #e84d37;
    background-image: linear-gradient(rgb(232, 77, 55, 0.3), rgb(232, 77, 55, 0.3));
}

.subscribe {
    width: 549px;
    background-image: url(../img/bg-post.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 4px 5px 5px 6px;
}

.index-subscribe {
    color: #5a5a5a;
    background-color: #f8f7f4;
    width: 507px;
    padding: 30px 20px 35px 20px;
    border-radius: 10px;
}

.index-subscribe p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.subscribe-form input {
    width: 368px;
    height: 44px;
    padding: 15px;
    box-sizing: border-box;
    font: inherit;
    color: #999999;
    font-weight: 400;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 3px;
    margin-right: 11px;
}

.button {
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    color: #fefefe;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    border: none;
    border-radius: 20px;
}

.subscribe-button {
    padding: 10px 16px;
}

.button:hover,
.button:focus {
    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.button:active {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.map {
    position: relative;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position: -20px 0;
    height: 430px;
    width: 1200px;
    margin: 0 auto;
}

.map iframe {
    width: 100%;
    height: 430px;
}

.address-card {
    position: absolute;
    top: 63px;
    right: 27px;
    width: 252px;
    height: 245px;
    padding: 30px 25px;
    background: #ffffff;
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 10px;
    color: #323232;
}

.address-card p {
    margin: 0;
}

.address-card .address {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 17px;
}

.address-card .phone {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 10px 0 7px 0;
}

.address-card-button {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 27px;
    margin-top: 22px;
    width: 100%;
}

.site-navigation-current {
    color: #ffffff;
    background-color: #d07058;
}

.user-navigation .filled-cart {
    min-width: 86px;
    background-color: #f8f7f4;
    color: #323232;
}


.breadcrumbs-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
}

.breadcrumbs-container p {
    margin: 0;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}

.breadcrumbs a,
.breadcrumbs-current {
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
}

.breadcrumbs a {
    background-image: linear-gradient(transparent 50%,
            rgba(255, 255, 255, 0.2) 50%);
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: 100% 2px;
}

.breadcrumbs li {
    margin-right: 6px;
}

.breadcrumbs li::after {
    content: "\BB";
    margin-left: 6px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
}

.info {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    font-weight: bold;
}

.info a {
    font: inherit;
    color: #ffffff;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
}

.page-title {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

}


.filter {
    margin-bottom: 40px;
}


.filter-form {
    display: flex;
    flex-wrap: wrap;



}

.filter-form > div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 14px;
    margin-bottom: 16px;
}

.filter-form p {
    margin: 0;
    padding: 0;
}

.select-filter {
    width: 194px;
}

.range-filter {
    width: 220px;
}

.radio-filter {
    width: 415px;
}

.checkbox-filter {
    width: 703px;
}

.filter-form .filter-button {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 30px 9px 29px;
    background-color: rgb(255, 255, 255, 0.2);
    border: none;
    box-shadow: inset 0 0 0 2px #ffffff;
    border-radius: 20px;
    margin: 21px 0;

}

.filter-form .filter-button:hover,
.filter-form .filter-button:focus {
    color: #323232;
    background-color: #ffffff;
}

.filter-form .filter-button:active {
    color: #323232;
    box-shadow: inset 0px 2px 1px 0 #696969;
    background-color: #ededed;
    border: none;

}


.filter-form .filter-name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 15px;
}

.filter-form .filter-value {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.select-filter select {
    font-weight: 500;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 8px 30px 9px 15px;
    border-radius: 20px;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23ffffff' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 14px center;
}

.select-filter select:hover,
.select-filter select:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23000000' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
    color: #323232;
}

.select-filter .select-option {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.price-controls .filter-name {
    margin-bottom: 0;
}


.price-controls {

    display: flex;
    flex-wrap: wrap;

    margin-bottom: 3px;




}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-left: 5px;



}

.price-controls input {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #849d8f;
    border: none;
    width: 28px;
    vertical-align: top;


}


.filter-form .range-controls {
    position: relative;
    padding: 17px 22px 16px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
}

.filter-form .range-controls:hover,
.filter-form .range-controls:focus {
    cursor: pointer;
}

.scale {
    height: 4px;
    background-color: rgb(248, 247, 244, 0.5);
    position: relative;

}

.bar {
    height: 4px;
    background-color: #f8f7f4;
    width: 60%;
    position: absolute;
    left: 20px;
}

.range-toggle-min {
    position: absolute;
    left: 35px;
    top: 9px;
}

.range-toggle-max {
    position: absolute;
    right: 65px;
    top: 9px;
}



.radio-filter p {
    padding: 10px 15px 9px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
}

.radio-filter label {
    position: relative;
    padding-left: 32px;
    margin-right: 14px;
}


.radio-filter .radio-button-indicator {
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
    width: 25px;
    height: 25px;

    position: absolute;
    left: 0;
    top: -3px;
}

.radio-filter input[type="radio"]:hover + .radio-button-indicator,
.radio-filter input[type="radio"]:focus + .radio-button-indicator {
    opacity: 1;
}

.radio-filter input[type="radio"]:checked + .radio-button-indicator {
    background-image: url(../img/radio-on.svg);
    opacity: 0.8;
}

.radio-filter input[type="radio"]:checked:focus + .radio-button-indicator {
    background-image: url(../img/radio-on.svg);
    opacity: 1;
}

.radio-filter input[type="radio"]:disabled + .radio-button-indicator {
    opacity: 0.4;
}

.radio-filter input[type="radio"]:checked:disabled + .radio-button-indicator {
    opacity: 0.4;
}

.checkbox-filter p {
    padding: 10px 20px 9px 16px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
}

.checkbox-filter label {
    position: relative;
    padding-left: 32px;
    margin-right: 18px;
}

.checkbox-filter .checkbox-indicator {
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
    width: 26px;
    height: 23px;
    position: absolute;
    left: 0;
    top: -2px;
}

.checkbox-filter input[type="checkbox"]:hover + .checkbox-indicator,
.checkbox-filter input[type="checkbox"]:focus + .checkbox-indicator {
    opacity: 1;
}

.checkbox-filter input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url(../img/checkbox-on.svg);
    opacity: 0.8;
}

.checkbox-filter input[type="checkbox"]:checked:focus + .checkbox-indicator {
    background-image: url(../img/checkbox-on.svg);
    opacity: 1;
}

.checkbox-filter input[type="checkbox"]:disabled + .checkbox-indicator {
    opacity: 0.4;
}

.checkbox-filter input[type="checkbox"]:checked:disabled + .checkbox-indicator {
    opacity: 0.4;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-item {
    text-align: center;
    position: relative;
    width: 267px;
    margin-right: 25px;
    margin-bottom: 35px;
}



.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-item-image img {
    border-radius: 50%;
}

.catalog-item h3 {
    color: #ffffff;
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    margin: 0;
    padding: 0px;
    padding-bottom: 15px;
    text-align: center;
    background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.2) 50%);
    background-position: 0 center;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    margin: 0 5px;
}

.catalog-item h3:hover,
.catalog-item h3:focus {
    color: #ffbc9e;
    background-image: linear-gradient(transparent 50%, rgb(255, 188, 158, 0.3) 50%);
}

.catalog-item p {
    margin: 0;
    margin-bottom: 13px;
}

.catalog-item b {
    font-size: 45px;
    line-height: 45px;
}


.catalog-item span {
    font-size: 30px;
    line-height: 45px;
}

.catalog-item .catalog-item-price {
    position: absolute;
    top: 209px;
    left: 0;
}

.cart-list {
    margin: 0;
    padding: 0;
}

.catalog-item .preview-button {
    display: none;
    position: absolute;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 17px;
    bottom: -55px;
    left: 30px;
    z-index: 2;
}

.catalog-item:hover .preview-button {
    display: block;
}

.catalog-item:hover::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -12px;
    z-index: -1;
    width: 293px;
    height: 405px;
    background: rgb(248, 247, 244, 0.2);
    border-radius: 5px;

}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    margin-bottom: 30px;
    margin-top: 45px;
}

.pagination-item:first-child {
    margin-right: 14px;
    transform: rotate(180deg);
}

.pagination-item:last-child {
    margin-left: 14px;

}

.pagination-item:last-child path {
    margin-left: 14px;
    fill: #ffffff;
}

.pagination .pagination-link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding: 4px 9px;
    color: #ffffff;
    border-radius: 50%;
}

.pagination .pagination-link-current {
    color: #323232;
    background-color: #ffffff;
}

.pagination .pagination-link:hover,
.pagination .pagination-link:focus {
    background-color: rgb(255, 255, 255, 0.2);
}

.pagination .pagination-link:active {
    color: #323232;
    background-color: #ffffff;
}

.main-footer {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 25px;
    width: 1146px;
}

.main-footer::before {
    content: "";
    position: absolute;
    width: 1146px;
    top: 0;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.3;
}

.footer-social ul,
.footer-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 187px;

}

.footer-social li {
    position: relative;
    width: 35px;
    height: 35px;
}

.social-button {
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    box-shadow: 0 0 0 3px rgb(255, 255, 255, 0.5);
    border-radius: 50%;
}


.social-button:hover,
.social-button:focus {
    opacity: 1;
}

.social-button:active,
.social-button:active path {
    box-shadow: 0 0 0 3px rgb(255, 255, 255, 0.7);
    fill: #e9e9e9;
}


.footer-navigation {
    display: flex;
    position: relative;
    margin-left: 214px;

}

.footer-navigation li {
    position: relative;
}


.footer-navigation a {

    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 6px;
    margin-right: 30px;
    background-image: linear-gradient(transparent 50%,
            rgba(255, 255, 255, 0.2) 50%);
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: 100% 2px;
}


.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-copyright-text a:hover,
.footer-copyright-text a:focus {
    color: #ffbc9e;
    background-image: linear-gradient(transparent 50%,
            rgb(255, 188, 158, 0.3) 50%);
}


.footer-navigation .footer-nav-item {
    font-weight: bold;
}

.footer-nav-item::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -22px;
    width: 15px;
    height: 15px;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-copyright {
    position: relative;
    margin-left: auto;
}

.footer-copyright p {
    margin: 0;
}

.footer-copyright-text {
    color: #fefefe;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.footer-copyright-text a {
    text-decoration: none;
    color: #fefefe;
    background-image: linear-gradient(transparent 50%,
            rgba(255, 255, 255, 0.2) 50%);
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: 100% 2px;
}